body, h2{
    margin: 0;
}

.banner{
    background-color: beige;
    height: 50px;
    display: none;
}

.card-list-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    margin: 10px;
}


img{
    width: 100%;
}

@media only screen and (min-width: 768px){
    .card-list-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
    }

    .card{
        width: 350px;
    }

    .banner{
        display: block;
    }
}

.nav {
    list-style: none;
}
.nav a:link, a:visited {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: rgb(97, 218, 97);
    font-size: 20px;
    font-weight: bold;
}
.nav a:hover, a:active  {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: rgb(17, 131, 177);
    font-size: 20px;
    font-weight: bold;
}
}
